body {
    font-family: 'Arial', sans-serif;
    background-image: url('http://t2.gstatic.com/licensed-image?q=tbn:ANd9GcT5PpWnR7LvIeS6HiqWiCLuoUeF9U59C1Z2UO3QFPY_NCe5GGqNTrwIvNtbsKnMU4cswJdIK0aBtpdEkmAjd6M');
    text-align: center;
    padding: 50px;
    color: rgb(249, 249, 18);
}

h3 {
    color: white;
}

p {
    margin-bottom: 20px;
}